.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .button-col {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
