body {
  background-color: #f0f2f5;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2c6ed5;
  transition: color 0.2s ease;

  &:hover {
    color: #85ace8;
  }

  &:active {
    color: #2c6ed5;
  }
}
